/* style.css */


/* normalise styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global styling */
body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
}

button {
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
}

/* layout styling */

/* style the header */
.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
}

/*style the logo */
.logo {
    font-size: 24px;
    font-weight: 700;
}

/* style the navigation */
nav ul {
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
}

nav a {
    color: #F9FAF8;
}

/* style the hero */
.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    padding: 125px 200px;
    width: 100%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    margin-right: 64px;
    gap: 10px;
    flex: 1 auto;
}

.hero-main-text {
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image {
    display: flex;
}

.hero-button {
    display: flex;
    align-items: flex-start;
}

.hero-button button {
    background-color: #3882f6;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 700;
}

/* style info section */
.info {
    display: flex;
    justify-content: center;
    padding: 59px 200px;
    flex-direction: column;
    align-items: center;
}

.info-container {
    display: flex;
    gap: 52px;
    justify-content: center;
    align-items: center;
    margin-top: 52px;
}

.info-title {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-text {
    display: flex;
    text-align: center;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info img {
    width: 150px;
    height: 150px;
}

/* style quote section */
.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 59px 200px;
    background-color: #E5E7EB;
    color: #1F2937;
    flex-direction: column;
}

.quote-text {
    text-align: left;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    width: 100%;
}

.quote-name {
    width: 100%;
    text-align: right;
    font-size: 18px;
    font-weight:bold;
    margin-top: 10px;
}

/* style call to action section */
.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 59px 200px;
}

.cta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #F9FAF8;
    width: 100%;
}

.cta-text {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.cta-title {
    font-size: 18px;
    font-weight: bold;
}

.cta-subtitle {
    font-size: 16px;
}

.cta-button{ 
    margin-left: 50px;
}
.cta-button button{
    background-color: #3882f6;
    border:2px solid #E5E7EB;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 700;
}

/* style the footer */
.footer {
    background-color: #1F2937;
    text-align: center;
    color:#F9FAF8;
    padding: 40px 200px;
}